body {
    box-sizing: border-box;
    font-family: Helvetica, "sans serif";
    background-color: rgb(254, 254, 254);
    margin: 0;
  }

  .main {
    padding: 50px;
  }

  .main img {
    width: 200px;
    display: block;
    margin: 0 auto; 
  }

  .fade {
    height: 200px;
    text-align: center;
    overflow: hidden;
  }

  img#f2 {
    position: relative;
    top: -200px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
  
/*.main img:hover {
    background: url("crystal-ballwater1.png") no-repeat;

}*/


.navbar{
     padding: 10px;
     background-color:  rgb(254, 254, 254);
     box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-backface-visibility: hidden;
     overflow: hidden;
   }

.navbar a {
    float: right;
    display: block;
    color: #756767;
    text-align:left;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
  
  .navbar .name {
      color:rgb(46, 45, 45);
      font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
      font-size: 35px;


   }
  
  .navbar a:hover {
    color:rgb(155, 35, 71);
  }
  
  .navbar a.active {
    border-bottom: 3px solid rgb(155, 35, 71);
  }
  
  /* Line navigation bar 
  
  hr.solid {
    border-top: 1px solid lightgray;
    margin-top: -10px;
    box-shadow: 24px 25px 22px -15px rgba(77,75,77,1);
    padding-top: 0%;
    padding-bottom: 0%;
  } */

  .intro p {
    font-size: 25px;
    text-transform: none;
    text-align:center;
    font-weight:200;
    margin-bottom: 0;
    margin-top:0;
    color: black;
    font-family: "didot";
   }
  
   h1 {
      font-size: 65px;
      margin-top: 45px;
      text-align: center;
      font-family: "didot";
      color: rgb(155, 35, 71);
  }

  h2 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-top: auto;
    font-family: "didot";
    color: rgb(206, 126, 150);
}

  .manualofme {
    text-align: center;
  }
  

  .card {
    width: 325px;
    height: 400px;
    vertical-align: top;
    text-align: left;
    box-shadow: 0px 1px 5px rgba(83, 83, 83, 0.5);
    -webkit-box-shadow: 0px 1px 5px rgba(83, 83, 83, 0.50);
    -moz-box-shadow: 0px 1px 5px rgba(83, 83, 83, 0.50);
    border-radius: 40px;
    display: inline-block;
    padding: 15px;
    margin: 10px;
  }

  ul {
    color: rgb(48, 46, 46);
    line-height: 30px;
    margin-top: 25px;
  }
  
  p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-family: "didot";
    color: rgb(46, 45, 45)
  }

  .aboutme {
    padding: 100px 30px;
    width: 60%;
    margin: 0 auto;
  }

  .aboutme p{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    font-family: "didot";
    color: rgb(46, 45, 45)
  }

  .aboutme img {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }


  .poppy img{
    width: 250px;
    border-radius: 70%;
    display: block;
    margin: 0 auto;
  }

  
  .footer {
    text-align: center;
    background-color: rgb(33, 34, 34);
    width: 100%;
    margin-top: 50px;
    position:relative;
    bottom: 0;
    left:0;
    right:0;
    height: 125px;
    line-height: 90px;
 }

.footertxt {
 color: lightgrey;
 font-size: 15px;
 font-family: 'Times New Roman', Times, serif;
 }

 input[type=text], select, textarea {
  width: 100%; /* Full width */
  align-content: center;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #920b4e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #771d54;
}


.contact {
  border-radius: 5px;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
}

  